body {
    background-image: url("../img/stacked-waves-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: rotate 10s infinite alternate linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    100% {
        background-position: 5% 20%;
    }
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #007BFF;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #0056b3;
    font-size: 14px;
    margin-top: -20px;
    align-self: flex-start;
    text-decoration: none;
}

a:hover {
    color: #007BFF;
}